net "clk50" loc = "B8";
net "dirg" loc = "C12";
net "dird" loc = "A9";
net "en_g" loc = "A13";
net "en_d" loc = "B9";

#interrupteur pour moteur droit
net "interD_mli(0)" loc = "P11";
net "interD_mli(1)" loc = "L3";
net "interD_mli(2)" loc = "K3";
net "interD_mli(3)" loc = "B4";

#interrupteur pour moteur gauche
net "interG_mli(0)" loc = "G3";
net "interG_mli(1)" loc = "F3";
net "interG_mli(2)" loc = "E2";
net "interG_mli(3)" loc = "N3";

#boutons pour direction
net "boutonD" loc = "C11";
net "boutonG" loc = "A7";

#sensorA et B
net "sensorA" loc = "C13";
net "sensorB" loc = "D12";
net "sortieSensorA" loc = "B7";
net "sortieSensorB" loc = "B6";